<h2>募集内容</h2>
<div class="card border-primary mb-3 w-75">
  <div class="card-body">
    <h4 class="card-title"><%= @recruitment.title %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">開催日:<%= @recruitment.date %></li>
    <li class="list-group-item">出演料:¥<%= @recruitment.price %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @recruitment.content %></p>
  </div>
  <div class="card-body">
    <aside class="col-md-4">
      <h3>応募フォーム</h3>
        <section class="request_form">
          <%= render '/requests/request_form' %>
        </section>
    </aside>
  </div>
</div>
