<div class="py-4">
  <section id="user">
    <div class="container">
      <div class="row">
        <div class="thumbnail">
          <% if @user.image.present?%>
            <%= image_tag @user.image.url(:thumb), calss: "img-thumbnail"%>
          <% else %>
            <%= image_tag("/images.jpg", :alt => "画像準備中", class: "img-fluid") %>
        　 <% end %>
        </div>
        <div class="col-md-8">
          <h4><%= @user.name %></h4>
            <p><%=@user.description %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 py-4">
            <% if current_user.id == @user.id %>
              <p class="btn btn-success ml2"><%=link_to "プロフィール編集", edit_user_registration_path, class: "nav-link" %></p>
              <p class="btn btn-success ml2"><%=link_to "投稿する", new_post_path, class: "nav-link" %></p>
              <% if current_user.organizer %>
                <p class="btn btn-success ml2"><%=link_to "出演募集する", new_recruitment_path, class: "nav-link" %></p>
                <p class="btn btn-success ml2"><%=link_to "募集一覧", recruitments_path, class: "nav-link" %></p>
              <% end %>
            <% end %>
            <% if current_user != @user %>
              <%= link_to 'chatを始める', chat_path(@user.id)%>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <% if @user.posts.any? %>
              <ul class="list-unstyled">
                <%= render @posts %>
              </ul>
              <%= paginate(@posts) %>
            <% end %>
          </div>
        </div>
    </div>
  </section>
</div>
