<h2>投稿</h2>
<div class="card w-75">
  <div class="card-body">
    <h4 class="card-title"><%= @post.title %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">作成者:<%= link_to @post.user.name, user_path(@post.user), method: :get %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @post.content %></p>
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="card-body">
      <%= link_to '編集', edit_post_path(@post), method: :get, class: "card-link" %>
      <%= link_to '削除', "/posts/#{@post.id}", method: :delete, class: "card-link"%>
    </div>
  <% end %>
</div>
<%=render '/comments/comment_form' %>
